@{
    ViewData["Title"] = "Enrolamiento";
}

@using AspStudio.Models;

<!-- Estilos usados en diferentes partes de la página -->

<style>

    #Encabezado {
        background-color: #025700;
        opacity: 0.90;
        padding: 5%;
        width: 100%;
    }

    #LetrasTituloEncabezado {
        position: relative;
        text-align: center;
        color: white;
        font-size: 26px;
    }

    #LetrasEncabezado {
        position: relative;
        text-align: justify;
        color: white;
    }

    #contenido {
        align-items: center;
        width: 80%;
        position: relative;
        margin: 0px auto;
        padding: 0px 0px 0px 0px;
    }

    .imagenindex {
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 0px;
        position: relative;
    }

    .img {
        width: 215px;
        height: 260px;
    }

        .img img {
            height: 100%;
            width: 100%;
        }

    input[type=number] {
        -moz-appearance: textfield;
    }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
</style>


<body onLoad="JustificaTextoLargo();">

    <div class="form-container">



        <div class="row">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">

                <!-- Encabezado de página con imagen, el texto se toma de la tabla TextosEnrol -->

                <section id="Encabezado">

                    <div id="contenido">
                        <img class="imagenindex" src="~/img/LogoEcopetrolCuidemonos.jpg" align="middle" alt="Cuidemonos">
                        @foreach (dynamic texto in ViewBag.TextoTitulo)
                        {
                            <h1 id="LetrasTituloEncabezado" align="center">@texto.Pregunta</h1>
                            <p id="LetrasEncabezado"><font size="4">@texto.Texto</font></p>}

                    </div>
                </section>

                <!-- Variable usada para tomar el nombre del usuario logueado, se almacena en los metadatos -->
                @if (true)
                {
                    string userName = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name).Value;
                    <label id="NombreUsuario" style="display:none">@userName</label>
                }
                <br />

                <div id="botonguardar">

                    <form autocomplete="off" enctype="multipart/form-data" id="formverifica" method="post">

                        <!-- Tabla creada para alinear los datos solicitados al usuario -->
                        <table style="width: 100%">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 80%;">
                            </colgroup>



                            <!-- Put <thead>, <tbody>, and <tr>'s here! -->
                            <tbody>
                                <tr>
                                    <td><b><font size="4">Número carné Ecopetrol :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required type="number" title="Número de carné de Ecopetrol" data-toggle="tooltip" data-placement="right" name="Badge_id" id="Badge_id" /></td>
                                </tr>
                                <tr>
                                    <td><b><font size="4">Nombres :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required title="Nombres completos" data-toggle="tooltip" data-placement="right" name="Firstname" id="Firstname" /></td>
                                </tr>
                                <tr>
                                    <td><b><font size="4">Apellidos :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required title="Apellidos completos" data-toggle="tooltip" data-placement="right" name="LastName" id="LastName" /></td>
                                </tr>

                                <!-- Lista desplegable con los tipos de documento tomados de la tabla Tipos_Doc -->
                                <tr>
                                    <td><b><font size="4"> Tipo documento :</font></b></td>
                                    <td>

                                        <select required name="tipdoc" id="tipdoc">
                                            <option value="" data-token=""> Tipo Documento </option>
                                            <div class="dropdown-menu" role="menu">
                                                @foreach (dynamic Tipodoc in ViewBag.tiposdoc)
                                                {
                                                    <option value="@Tipodoc.codigo">@Tipodoc.descripcion</option>

                                                }
                                            </div>
                                        </select>

                                    </td>
                                </tr>

                                <tr>
                                    <td><b><font size="4">Documento :</font></b></td>
                                    <td><input autocomplete="off" style="width:50%;" required type="number" title="Número de documento de identidad" data-toggle="tooltip" data-placement="right" name="Documento" id="Documento" /></td>
                                </tr>
                            </tbody>
                        </table>

                        <br />

                        <div>
                            @foreach (dynamic texto in ViewBag.TextoValidacion)
                            {
                                <h5>@texto.Pregunta</h5>
                                <p align="justify">
                                    <h5 style="color:red" align="left"><font size="3"> Ver. @texto.Version</font></h5>
                                    <font size="4"> @texto.Texto</font>


                                </p>

                                <p id="textoLargo"></p>
                                <p>
                                    <input required type="radio" name=@texto.Tipo value="Si"> Si acepto
                                    <input required type="radio" name=@texto.Tipo value="No"> No acepto

                                    <br />
                                    <br />
                                </p>
                            }
                        </div>

                        <br />


                        <input type="submit" value="Guardar datos" class="btn btn-block btn-primary" />



                    </form>
                </div>


                <br />
                <br />

                <div id="confirmarDatos">

                    <form autocomplete="off" enctype="multipart/form-data" id="formuploadenrol" method="post">

                        <div id="resumenDatos">

                            <table style="width: 100%" border="1">
                                <colgroup>
                                    <col span="1" style="width: 50%;">
                                    <col span="1" style="width: 50%;">
                                </colgroup>



                                <!-- Put <thead>, <tbody>, and <tr>'s here! -->
                                <tbody>
                                    <tr>
                                        <td align="right"><b><label> Número carné Ecopetrol :</label></b></td>
                                        <td><label id="badgeid"></label></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b><label> Nombre :</label></b></td>
                                        <td><label id="firstname"></label></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b><label>Apellidos :</label></b></td>
                                        <td><label id="lastname"></label></td>
                                    </tr>

                                    <tr>
                                        <td align="right"><b><label>Tipo documento :</label></b></td>
                                        <td><label id="tipodoc"></label></td>
                                    </tr>

                                    <tr>
                                        <td align="right"><b><label>Documento :</label></b></td>
                                        <td><label id="documento"></label></td>
                                    </tr>


                                    @foreach (dynamic texto in ViewBag.TextoValidacion)
                                    {
                                        <tr>
                                            <td align="right">
                                                <b><label>@texto.Pregunta</label></b>
                                            </td>
                                            <td>
                                                <label id=@texto.Tipo> </label>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>



                        </div>

                        <div id="btnConfirmar" class="wrapper">

                            <input class="btn btn-secondary" style="width:50%" type="submit" value="Confirmar datos" />
                        </div>
                    </form>

                    <div id="btnCancelar" class="wrapper">

                        <form autocomplete="off" enctype="multipart/form-data" id="formCancela" method="post">

                            <input class="btn btn-warning" style="width:50%" type="submit" value="Revisar datos" />
                        </form>

                    </div>
                </div>

                <div id="divifoto">


                    <p style="font-size:15px">
                        <br /><b>
                            Con el ánimo que pueda ingresar a través de mecanismo de reconocimiento facial y control térmico digital y sin contacto con nadie, por favor carga aquí la foto con las siguientes características:
                            Nombrar la foto con su numero de registro o cédula.
                        </b>
                    </p>

                    <p>
                        <font size="4">
                            1.     En formato vertical, con buena iluminación, sin sombras ni flash activo<br />
                            2.	A color con la máxima configuración de calidad de la cámara y sin retoques<br />
                            3.	Fondo blanco sin objetos de fondo<br />
                            4.	Mirar la cámara con los ojos abiertos sin accesorios (gorra, bufandas, gafas oscuras o reflectivas)<br />
                            5.      No debe ser mayor a 1 año, si no tiene una disponible es muy fácil ubíquese en una pared blanca y pídale el favor a un familiar que se la tome teniendo en cuenta las recomendaciones del 1 al 4, en caso de que no tenga quien le tome la foto hágalo tipo selfie.<br />
                            6.     El archivo no debe ser superior a 10MB ni inferior a 500KB.
                        </font>
                    </p>

                    <form enctype="multipart/form-data" id="formuploadajax" method="post">
                        <div>
                            <label for="image1">Foto</label>
                            <input name="file" id="file" type="file" />
                            <p>
                                <font size="4">
                                    Límite de número de archivos:1&nbsp;Límite de tamaño del archivo individual: 10MB&nbsp;Tipos de archivo permitidos: Imagen,Vídeo
                                </font>
                            </p>


                            <div id="preview" class="img">

                            </div>

                            <br />

                            <div id="btnImg">

                                <input class="btn btn-info" style="width:50%" type="submit" value="Validar foto" />
                                <!--<input type="button" onclick="Upload($('#UploadFile'));" />-->
                            </div>

                        </div>
                    </form>


                    <div id="imgProc">
                        <form id="formTermina" method="post">
                            <br />

                            <h5><b>Imagen procesada</b></h5>
                            <img width="214" height="267" id="imgproc" src="" alt="Imagen procesada" />
                            <br />
                            <p><b><font size="4">Imagen validada. Sus datos han sido registrados.</font></b></p>
                            <input class="btn btn-info" style="width:50%" type="submit" id="UploadFile" value="Click para Terminar" />

                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>

<script>



    var divfoto = document.getElementById("divifoto");
    var divconfirmar = document.getElementById("confirmarDatos");
    var divbotonguardar = document.getElementById("botonguardar");
    var divconfirmarDatos = document.getElementById("confirmarDatos");
    var divbtnConfirmar = document.getElementById("btnConfirmar");
    var divbtnCancelar = document.getElementById("btnCancelar");
    var divimgProc = document.getElementById("imgProc");
    var divbtnImg = document.getElementById("btnImg");



    divfoto.style.display = "none";
    divconfirmar.style.display = "none";
    divimgProc.style.display = "none";



            var result = [];

            //$(function () {

           // });

    function JustificaTextoLargo() {

        var i = 0;
        var len = cars.length;
        for (; i < len;) {
            text += cars[i] + "<br>";
            i++;
        }

        ipvar = "@ViewBag.varIP";

        document.getElementById("textoLargo").innerHTML = "Paragraph changed.";

    };


    function getval(val) {
        //alert(val);
        //window.location.href = "/Enrol/refreshInstal?id=" + val;

        fetch("@Url.Content("~/Enrol/GetPersonDetails")" + "?Id=" + val)
        .then(function (result) {
            if (result.ok) {
                return result.json();

            }
        })
            .then(function (data) {
                console.log(data);
                cbo = document.getElementById("instalacion");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(element.descripcion));
                    opt.value = element.codigo;
                    cbo.appendChild(opt);
                });
            })
    }

    $("instalacion1").change(function () {

        console.log("prueba");

               var  value = $("#Id").val();
               //$.get(URL,data,function(data,status,xhr),dataType)
               $.ajax({
            url: url2,
            type: 'POST',
            data: {
                Content: contentFull
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                CustomAlert.render(XMLHttpRequest);
                CustomAlert.render(textStatus);
                CustomAlert.render(errorThrown);
                CustomAlert.render("Error while posting SendResult");
            },
            success: function (result) {CustomAlert.render("Yey?");
            }

        });
            });

            $('#registrar').on('click', myFunction);

            function myFunction() {

                alert('hello');
                //console.log("Registrando");

                //document.getElementById("demo").innerHTML = "Hello Dear Visitor!</br> We are happy that you've chosen our website to learn programming languages. We're sure you'll become one of the best programmers in your country. Good luck to you!";
                //console.log("Registrando");

            };


    $(function () {

        $("#formTermina").on("submit", function (e) {

            e.preventDefault();


            window.location.href = "/Account/Logout";

        });

            $("#formCancela").on("submit", function (e) {

                e.preventDefault();


                divconfirmar.style.display = "none";
                divbotonguardar.style.display = "block";

            });

                $("#formverifica").on("submit", function (e) {

                    e.preventDefault();

                    document.getElementById("badgeid").innerHTML = $('#Badge_id').val().trim();
                    document.getElementById("firstname").innerHTML = $('#Firstname').val().trim();
                    document.getElementById("lastname").innerHTML = $('#LastName').val().trim();

                    var e = document.getElementById("tipdoc");
                    var strUser = e.options[e.selectedIndex].text;

                    document.getElementById("tipodoc").innerHTML = strUser;
                    document.getElementById("documento").innerHTML = $('#Documento').val().trim();

                    document.getElementById("2").innerHTML = $('input:radio[name=2]:checked').val();
                    document.getElementById("3").innerHTML = $('input:radio[name=3]:checked').val();
                    document.getElementById("4").innerHTML = $('input:radio[name=4]:checked').val();

                    divconfirmar.style.display = "block";
                    divbotonguardar.style.display = "none";

                });

                $("#formuploadenrol").on("submit", function (e) {

                    e.preventDefault();




                    var x = true;
                    var terminos = true;

                    //Validaciones

                    if ($('input:radio[name=2]:checked').val() == "No" || $('input:radio[name=3]:checked').val() == "No" || $('input:radio[name=4]:checked').val() == "No") {
                        alert("Registramos su decisión, muchas gracias.");
                        terminos = false;
                    } else {
                        alert("Datos registrados.");
                        divbtnConfirmar.style.display = "none";
                        divbtnCancelar.style.display = "none";
                        divfoto.style.display = "block";
                    }




                    if (x) {



                        var hoy = new Date();
                        var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();

                        var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()

                        var ipvar = "";


                        ipvar = "@ViewBag.varIP";

                        var userName = ""

                        userName = document.getElementById("NombreUsuario").textContent;


                        var e = document.getElementById("tipdoc");
                        var strUser = e.value;

                        var configuracion = {
                            badgeId: $('#Badge_id').val().trim(),
                            lastName: $('#LastName').val().trim(),
                            firstName: $('#Firstname').val().trim(),
                            documento: $('#Documento').val().trim(),
                            tipoDocumento: strUser,
                            aceptaTerminos: terminos,
                            empresa: "",
                            regional: 0,
                            instalacion: 0,
                            ciudad: "",
                            ssno: "",
                            idStatus: "",
                            status: "",
                            origen: "web",
                            metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                            image: ""
                        };

                        console.log(configuracion);

                        $.ajax({
                            url: "https://bio01.qaingenieros.com/api/enrol/create_enrol",

                            type: "POST",

                            method: 'POST',
                            dataType: 'json',
                            data: JSON.stringify(configuracion),
                            cache: false,
                            contentType: 'application/json'

                        })

                            .done(function (res) {
                                $("#mensaje").html("Respuesta: " + res);

                                console.log(res);

                                if (terminos == false) {
                                    window.location.href = "/Account/Logout";
                                };

                            })
                            .fail(function () {
                                console.log("Error actualizando datos");
                                alert("seguimiento 2");
                            });
                    }


                });

                $("#formuploadajax").on("submit", function (e) {
                    e.preventDefault();
                    var f = $(this);
                    //var formData = new FormData(document.getElementById("formuploadajax"));
                    //formData.append("file", $(this)[1].files[0]);

                    //var formData = new FormData(document.getElementById("formuploadajax"));
                    var formData = new FormData(this);
                    //formData.append("file", file);

                    //var data = new FormData();
                    //jQuery.each(jQuery('#file')[0].files, function (i, file) {
                    //    data.append('file-' + i, file);
                    //});

                    console.log("Enviando imagen01");
                    console.log(formData);
                    //formData.append(f.attr("name"), $(this)[0].files[0]);
                    var imagen = "";

                    $.ajax({
                        url: "https://bio01.qaingenieros.com/api/img",

                        type: "POST",

                        method: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                    })
                        .done(function (res) {
                            $("#mensaje").html("Respuesta: " + res);

                            console.log(res.status);

                            if (res.status == "aprobado") {


                                imagen = res.image;
                                var base64 = "data:image/png;base64," + res.image;
                                console.log(base64);
                                $("#imgproc").attr("src", base64);

                                var hoy = new Date();
                                var fecha = hoy.getFullYear() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getDate();

                                var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds()

                                var ipvar = "";

                                ipvar = "@ViewBag.varIP";

                                var userName = ""

                                userName = document.getElementById("NombreUsuario").textContent;

                                console.log(imagen);
                                var terminos = true;

                                var e = document.getElementById("tipdoc");
                                var strUser = e.value;

                                var configuracion = {
                                    badgeId: $('#Badge_id').val().trim(),
                                    lastName: $('#LastName').val().trim(),
                                    firstName: $('#Firstname').val().trim(),
                                    documento: $('#Documento').val().trim(),
                                    tipoDocumento: strUser,
                                    aceptaTerminos: terminos,
                                    empresa: "",
                                    regional: 0,
                                    instalacion: 0,
                                    ciudad: "",
                                    ssno: "",
                                    idStatus: "",
                                    status: "",
                                    origen: "web",
                                    metadatos: "{\"Fecha\":\"" + fecha + "\",\"Hora\":\"" + hora + ",\"Usuario_activo\":\"" + userName + ",\"app_version\":\"0.0.1\",\"ip\":\"" + ipvar + "\"}",
                                    image: imagen
                                };



                                $.ajax({
                                    url: "https://bio01.qaingenieros.com/api/enrol/create_enrol",

                                    type: "POST",

                                    method: 'POST',
                                    dataType: 'json',
                                    data: JSON.stringify(configuracion),
                                    cache: false,
                                    contentType: 'application/json'

                                })

                                    .done(function (res) {
                                        $("#mensaje").html("Respuesta: " + res);

                                        console.log(res);


                                    })
                                    .fail(function () {
                                        console.log("Error actualizando datos");
                                    });

                                divimgProc.style.display = "block";
                                divbtnImg.style.display = "none";


                                //alert("Foto almacenada");



                            } else {

                                console.log("Foto no cumple");

                                alert("Foto no cumple con los requisitos");
                            };
                        })
                        .fail(function () {
                            alert("Foto no cumple con los requisitos");
                        });


                    });




            });

            $("#form1").submit(function () {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("https://bio01.qaingenieros.com/api/img", "Device")',
                    dataType: "json",
                    data:{
                        topic: "SubscribeTest",
                        msg: jsonMsg
                    },
                    async: false,
                    success: function(data) {
                        var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                        $('#mqtt_send').html(
                            jsonPretty
                        )
                    },
                    error: function() {
                        console.log("Error adding new user");
                    }
                });

                var jqxhr = $.post('api/updates/complex', $('#form1').serialize())
                    .success(function () {
                        var loc = jqxhr.getResponseHeader('Location');
                        var a = $('<a/>', { href: loc, text: loc });
                        $('#message').html(a);
                    })
                    .error(function () {
                        $('#message').html("Error posting the update.");
                    });
                return false;
            });


        document.getElementById("file").onchange = function (e) {
        let reader = new FileReader();

        reader.onload = function () {
            let preview = document.getElementById('preview'),
                image = document.createElement('img');

            image.src = reader.result;

            preview.innerHTML = '';
            preview.append(image);
        };

        reader.readAsDataURL(e.target.files[0]);
    }




    function ValidaDatos() {

        document.getElementById("badgeid").innerHTML = $('#Badge_id').val().trim();
        document.getElementById("firstname").innerHTML = $('#Firstname').val().trim();
        document.getElementById("lastname").innerHTML = $('#LastName').val().trim();
        var e = document.getElementById("tipdoc");
        var strUser = e.value;
        document.getElementById("tipodoc").innerHTML = strUser;
        document.getElementById("documento").innerHTML = $('#Documento').val().trim();


    }

    async function getIpClient() {
        try {
            const response = await axios.get('https://ipinfo.io/json');
            console.log(response);
        } catch (error) {
            console.error(error);
        }
    }


    function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
        //compatibility for firefox and chrome
        var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var pc = new myPeerConnection({
            iceServers: []
        }),
            noop = function () { },
            localIPs = {},
            ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
            key;

        function iterateIP(ip) {
            if (!localIPs[ip]) onNewIP(ip);
            localIPs[ip] = true;
        }

        //create a bogus data channel
        pc.createDataChannel("");

        // create offer and set local description
        pc.createOffer(function (sdp) {
            sdp.sdp.split('\n').forEach(function (line) {
                if (line.indexOf('candidate') < 0) return;
                line.match(ipRegex).forEach(iterateIP);
            });

            pc.setLocalDescription(sdp, noop, noop);
        }, noop);

        //listen for candidate events
        pc.onicecandidate = function (ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
            ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
        };
    }

    // sleep time expects milliseconds
    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }



</script>

